h1{
  text-align:center;
  text-decoration:underline;
}
text-center{
  width:50%;
}
#receipt{
  display: none;
  border-style: dotted;
}
#receipt #itemInfo{
  list-style: none;
}
form-control{
  width:25%;
}